<div class="login-wrapper center-align">
    <div class="login-card center-align card">
        <div class="login-content">
            <div class="logo-login">
            </div>
            <div class="btn-group1">
                <input type="text" class="form-control input-login" [(ngModel)]="answer" placeholder="ENTER OTP">
            </div>
            <!-- <p class="resend-otp">RESEND OTP</p> -->
            <div class="btn-group1">
                <button class="btn btn-primary login-btn" (click)="submit()">VERIFY</button>
            </div>
        </div>
    </div>
</div>