.about-label {
  width: 110px;
}

.login-btn{
  background-color: #E84747;
  font-size: 14px;
  width: 100%;
  border-radius: 20px;
  height: 40px;
  border: none;
  flex-wrap: wrap;
}

.login-btn:focus{
  box-shadow: 0 1px 16px rgba(232,71,71,.4), 0 1px 2px rgba(232,71,71,.5);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.float-right{
  /* float: right; */
  margin-right: 0%;
}


.add-user{
  background: white;
  cursor: pointer;
  background-image: url(../../assets/images/addingicon@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 30px;
}

.add-user-btn{
  background-color: #e84747;
}

.cal-view{
  background: #fdf0f0;
  border: none;
  color: #949397;
  font-size: 85%;
}
.cal-view.active{
  background: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(181, 181, 181, 0.70);
  font-size: 85%;
  border-radius: 8px 8px 8px 8px !important;
  /* border-radius: 16px; */
}

.btn-group .cal-view:first-child {
  border-radius: 10px 0 0 10px;
}

.btn-group .cal-view:first-child.active {
  border-radius: 8px 8px 8px 8px;
}

.btn-group .cal-view:last-child.active {
  border-radius: 8px 8px 8px 8px;
}

.btn-group .cal-view:last-child {
  border-radius: 0 10px 10px 0;
}

.massTime-wrapper{
  margin: 30px 0px 30px 0px;
  background-color: white;
  border-radius: 25px;
  min-height: 86%;
  padding: 10px;
}

.addBtn{
  border-radius: 10px;
}

.scheduleList{
  height: 100vh;
  border-left: 1px solid #e4e4e4;
}
.dateFomate{
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  font-size: 10px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #e4e4e4;
}

.strike > span:before {
  right: 100%;
  margin-right: 5px;
}

.strike > span:after {
  left: 100%;
  margin-left: 5px;
}
.eventContainer{
  padding: 20px;
}
.eventStyle{
  padding: 6px;
  width: 188px;
  /* height: 43px; */
  left: calc(50% - 299px/2 + 740.5px);
  top: 339px;
  border-radius: 10px;
}
.event1{
  background: #FAE7EA;
  color: #fc4566;
}
.event2{
  background: #faddc2;
  color: #ef913a;
}
.event3{
  background: #efd5fb;
  color: #c64eff;
}
.event4{
  background: #a5ebb4;
  color: #37ac1a;
}


.cal-month-view .cal-day-cell.cal-today{
  background: #37ac1a !important;
}

.submitBtnContainer{
  text-align: center;
}
.submitBtn{
  border-radius: 10px;
  padding: 5px;
  height: 42px;
  width: 120px;
  font-size: 13px;
}

input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(350deg) brightness(70%) contrast(80%);
  }
input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(350deg) brightness(70%) contrast(80%);
  }  
input{
  padding: 8px;
  margin-top: 10px;
}
.closeBtn{
  float: right;
  margin-right: 30px;
  margin-top: -32px;
  cursor: pointer;
  font-size: 25px;

}